<h2 style = "color:yellow">Function</h2>

-->  Avoid repeatation of loop. 

-->  Achieve code reusability

1. in-built function     -->    max(), min(), sum(), type(), id(), print(), eval() .. etc

2. user-define function   -->   fun. that made by user.


                       syntax :- def fun_name(parameter):
                                     fun_body
                                     return value

                          calling:- 
                                 fun_name(argument)

In [1]:
print(print("hello"))

hello
None

In [1]:
def add(): 
    z = 10+30
    print(z)
    # Here default return none is present if you dont return any value mannually 
add()
print(add())

40
40
None

In [2]:
def add(): 
    z = 10+30
    return z
print(add())

40

In [2]:
def natural_number(n):
    for i in range(1, n+1): 
        if i<n: 
            print(i, end=',')
        else: 
            print(i)

x= int(input("Enter the number:- "))
print("This is first line- ")
natural_number(x)
y= int(input("Enter the number:- "))
print("This is second line- ")
natural_number(y)

Enter the number:-  5

This is first line-
1,2,3,4,5

Enter the number:-  8

This is second line-
1,2,3,4,5,6,7,8

In [4]:
#even number : 
def even_number(n):
    for i in range(2, n+1, 2): 
        print(i)

x = int(input("Enter the number:- "))
even_number(x)

Enter the number:-  10

2
4
6
8
10

Relation between parameters and argument:- 

i)  positional argument

ii)  keyword argument 

iii)  default argument

iv)  variable-lenght positional argument

v)  keyword variable -lenght argument

<h3 style = "color:red">positional argument</h3>

In [13]:
#syntax 

# def fun_name(x,y,z):
#     ----
#     ---- 
# fun_name(p,q,r)


def add(x, y, z): 
    print(x+y+z)

# add()  #TypeError: add() missing 3 required positional arguments: 'x', 'y', and 'z'
# add(5) #TypeError: add() missing 2 required positional arguments: 'y' and 'z'
# add(5,10)   TypeError: add() missing 1 required positional argument: 'z'

add(5,10,15)
# add(10,12,13,14)  TypeError: add() takes 3 positional arguments but 4 were given

30

In [11]:
def add(x, y, z): 
    print(x+y+z)

# p, q, r = int(input("Enter first value:- ")), int(input("Enter secondvalue:- ")), int(input("Enter third value:- "))
# add(p,q,r)

add(int(input("Enter first value:- ")), int(input("Enter secondvalue:- ")), int(input("Enter third value:- ")))

Enter first value:-  10
Enter secondvalue:-  20
Enter third value:-  30

60

<h3 style = "color:red">2. Keyword argument</h3>

In [18]:
# syntax : 

# def fun_name(x, y, z): 
#     ---- 
#     ---- 
# p = ___
# q = ____ 
# r = ____ 

# fun_name(z=q, x=p, y=r)


def sum(p, q, r): 
    print(p, q, r, sep=',')

sum(p = int(input("Enter value of p:-")), r= int(input("Enter value of r:- ")), q = int(input("Enter value of q:- ")))

Enter value of p:- 10
Enter value of r:-  20
Enter value of q:-  30

10,30,20

<h3 style = "color:red">3. Default argument</h3>

In [3]:
# syntax:- 

# def fun_name(parameter=default value): 
#     ------- 
#     ------- 
#     -------

# fun_name(argumrnt)

def add(x=0, y=0): 
    print(x+y)

add()
add(5)
add(5,4)
# add(4,5,6)  error

0
5
9

<h3 style = "color:red">4. Variable-length positional argument</h3>

In [5]:
# syntax:- its use for handling the method overloading because python doesn't support method overloading 

# def fun_name(* args): 
#     ----- 
#     ----- 
#     ----- 
# fun_name(tuple_data)

# def add(x,y): 
#     return x+y

# def add(x,y,z): 
#     return x+y+z
    
# def add(x,y,z,p): 
#     return x+y+z+p

# add(10,20,20,12)

62

In [7]:
def add(*args):  #add(*x) 
    print(args)
    print(type(args))

add()
add(1)
add(1,2)
add(1,2,3,4,5)

()
<class 'tuple'>
(1,)
<class 'tuple'>
(1, 2)
<class 'tuple'>
(1, 2, 3, 4, 5)
<class 'tuple'>

In [8]:
def add(*x): 
    x = sum(x)
    print(x)

add()
add(1,2)
add(1,2,3)

0
3
6

In [10]:
def add(*x): 
    sum = 0
    for i in x: 
        sum +=i
    print(sum)

add()
add(1,2)
add(1,2,3)
add(1,2,3,4,5)

0
3
6
15

In [11]:
def add(*x): 
    sum = 0
    for i in x: 
        sum +=i
    return sum

z = add(1,2,3,4,5)
print(z)

15

<h3 style = "color:red">5. Keyword Variable-length argument</h3>

def show_details(**kwargs): 
    print(kwargs)
    print(type(kwargs))

show_details()
show_details(name='Dheeru')
show_details(name='Dheeru', age=23, qual='B.tech')

In [5]:
# def show_details(**kwargs): 
#     for i, j in kwargs:
#         print(i,j)

# show_details(name='Dheeru', age=23, qual='B.tech')

def show_details(**kwargs): 
    # for i, j in kwargs.items():
    #     print(i,j)
    # for i in kwargs.keys(): 
    #     print(i)
    for i in kwargs.values(): 
        print(i)

show_details(name='Dheeru', age=23, qual='B.tech')

Dheeru
23
B.tech

<h2 style = "color:yellow">Higher-Order function</h2>

1. map()

2. filter()

3. reduce() 

4. lambda()



Scenarios:- 

        l = [10,20,30,40,50]  - total no. of i/p element from collection 

           1.  i/p elements == o/p elements  --> map()  

           2.   i/p elements >= o/p elements  --> filter()

           3.   i/p elements == 1   -->   reduce()

<h3 style = "color:red">map()</h3>

In [7]:
# syntax: -  map(fun_name, collection)

l = [2,4,6,8,10,20]
def squre_no(n): 
    return n**2 

x = map(squre_no, l)
print(x)
print(tuple(x))

<map object at 0x0000023617F96410>
(4, 16, 36, 64, 100, 400)

In [8]:
l = [2,4,6,8,10,20]
def squre_no(n): 
    return n+5 

x = map(squre_no, l)
print(x)
print(tuple(x))

<map object at 0x000002361747B850>
(7, 9, 11, 13, 15, 25)

<h3 style = "color:red">filter()</h3>

In [11]:
l = [2,4,1,3,6,8,5,10,20]
def even_no(n): 
    if (n%2==0): 
        return n

x = filter(even_no, l)
print(x)
print(tuple(x))

<filter object at 0x0000023617FA4700>
(2, 4, 6, 8, 10, 20)

In [17]:
# even odd most questions

l = [2,4,1,3,6,8,5,10,20]
def even_no(n): 
    if (n%2==0): 
        return 'even'
    else: 
        return 'odd'

x = map(even_no, l)
print(x)
print(tuple(x))

<map object at 0x0000023618012E60>
('even', 'even', 'odd', 'odd', 'even', 'even', 'odd', 'even', 'even')